/* importing fonts (inter, barlow, JB mono) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*root applies to everything*/
:root {
    font-size: 16px;
    /*variables*/
    --text-primary: white;
    --text-secondary: #2cac6a;
    --text-thirdendary: rgb(169, 255, 208);
    --tempo: rgba(255, 255, 255, 0.5);
    --splode-power: 1.2;
    --super-splode-power: 17;
    --font-primary: "Inter";
    --font-secondary: "Barlow";
    --font-code: "JetBrains+Mono";
    --bg-primary: #152334;
    --bg-secondary: #182738;
    --bg-thirdendary: #1d4747ff;
}

#container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    /* fallback height  */
    min-height: 100vh;

    /* new small viewport height for modern browsers  */
    min-height: 100svh;
}

body {
    /* color: black;
    background-color: white; */
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
}

/* scroll bar settings */
body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}

/* main { */
    /*rem is proportional to font-size. Ex: 16 (fontsize) * 5 (rem) = 80 px */
    /* margin-top: 4em; */
    /* padding: 1rem; */
/* } */

p {
    color: var(--text-primary);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 15px 8px;
    width: 95vw;
    max-width: 800px;
    font-family: var(--font-primary);
}

.title {
    font-family: var(--font-secondary);
    color: var(--text-secondary);
    max-width: 100%;
    font-size: min(60pt, 10vw);
    font-weight: 700;
    padding-top: 0vw;
    padding-bottom: 0.4dvw;
}

.mid {
    display: flex;
    align-items: center;
}

.title span {
    color: var(--text-thirdendary);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    margin-bottom: 40px;
}

/* navigation bar stuff here */

.textbox {
    background-color: var(--bg-secondary);
    max-width: 1300px;
    border-radius: 8px;
    box-shadow: 0 1px 12px rgba(7, 7, 7, 0.55);
    padding: 20px 20px;
    margin-bottom: 3.5vh;
}

.aboutus {
    /* margin-top: 5rem; */
    max-width: min(90%, 1800px);
    background-color: var(--bg-secondary);
    width: 100%;
    /* height: 30rem; */
    padding: 20px 20px;
    box-shadow: 0 1px 12px rgba(7, 7, 7, 0.4);
    margin-bottom: 3vh;
}

.calendar {
    margin-top: 5rem;
    max-width: min(90%, 1800px);
    background-color: var(--bg-secondary);
    width: 800%;
    height: 3000px;
    height: 100%;
    padding: 20px 20px;
} 

.leaderbox {
    margin-top: 1vh;
}

.split {
    /* max-width: 90%; */
    display: flex;
    justify-content: center;
    justify-items: center;

}


.split div.splitsection {
    /* margin-left: auto; */
    width: 100%;
    /*right: 0px;*/
    margin-right: 0;
    padding: 20px 20px;
}

.split div.splitsection img {
    width: 100%;
    border-radius: 8px;
}

.split div.splitsection p {
    width: 100%;
    max-width: none;
}

.split div.splitsection b {
    font-size: 50pt;
    font-family: var(--font-secondary);
    color: var(--text-secondary);
    max-width: 100%;
    font-weight: 550;
}

.code {
    font-family: "Space Mono", monospace;
}



@media screen and (max-width: 900px) {
    .split div {
        /* width: 100%; */
        float: none;
        /* display: block; */
        flex-direction: column;
        flex-wrap: wrap;
        /* text-align: left; */
    }

    .split {
        /* max-width: 90%; */
        display: block;
        justify-content: center;
        justify-items: center;
        width: 90%;

    }

    .split b {
        line-height: 60px;
    }

    .split p {
        font-size: 12pt;
        margin: 10px 0px;
    }

    .split div.splitsection {
        right: none;
        width: 100%;
        padding: 0 20px;
    }

    .title {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .mobile {
        padding: 10px 10px 10px 10px;
    }

    hr {
        margin-bottom: 20px;
    }

    .footer-heading {
        margin-right: 0rem;
        margin: 0px 0px;
    }

    .footer-2 {
        margin-right: 0px;
    }

    .footer {
        padding-bottom: 0px;
    }
}

.center p span {
    font-size: 50;
    color: var(--text-secondary);
    font-weight: 700;
}

.topnav {
    overflow: hidden;
    margin: 0;
    padding-bottom: 0;
    background-color: rgba(24, 39, 56, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 12px rgba(37, 37, 37, 0.25);
    position: sticky;
    
    top: 0;
    width: auto;
    height: auto;
    max-height: 100px;
    left: 0px;
    z-index: 10000;
    font-family: var(--font-primary);
    box-shadow: 0 1px 12px rgba(7, 7, 7, 0.4);
}

.flexer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.divider {
    background-color: var(--bg-secondary);
    box-shadow: 0 1px 12px rgba(7, 7, 7, 0.4);
    position: relative;
    width: 100%;
}

.right-flex {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 92%;
    transform: translateX(-20%); */
    float: right;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: min(24px, max(16px, 1vw));
    transition-duration: 0.2s;
    align-self: center;
}

.text {
    font-size: max(6px);
}

.topnavitem {
    padding: min(max(14px, (5px + 0.5vw)), 24px) min(16px + 1rem, (5px + 0.8vw + 1rem));
}

.topnavicon {
    /* padding: 0.5em min(max(0px, (0px + 0.5vw)), 24px) min(1rem, (5px + 2vw)); */
    padding: 0.28em 0.5em 0.12em 0.5em;
}

.topnav a:hover {
    background-color: rgba(37, 37, 37);
    transition-duration: 0.4s;
}

.topnav a.logo:hover {
    background-color: rgba(37, 37, 37);
    transition-duration: 0.4s;
    --webkit-filter: grayscale(100%) filter: grayscale(100%);
}

.topnav a:active {
    background-color: rgb(47, 47, 47);
    transition-duration: 0.1s;
}

.topnav .icon {
    display: none;
}

.footer-container {
    background-color: var(--bg-secondary);
    /* padding-bottom: 1rem; */
    box-sizing: border-box;
    position: relative;
    /* z-index: 0; */
    margin-top: 1.5vw;
    box-shadow: 0 1px 12px rgba(7, 7, 7, 0.4);
}

.footer {
    width: 100%;
    padding-bottom: 1rem;
    /* height: 40vh; just let it set to whatever it does automatically */
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    margin: 0 auto;

}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-2 {
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 1rem;
    font-family: var(--font-primary);
    font-size: 30px;
    color: var(--text-secondary)
}

.footer-heading a {
    color: var(--text-primary);
    text-decoration: none;
    margin-bottom: .5rem;
    font-family: var(--font-secondary);
    font-size: 20px;
}

.footer-heading a:hover {
    color: rgb(96, 240, 137);
    transition-duration: 3 ease-out;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width:900px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav div {
        display: none;
    }
}

/* < !-- HTML !--><button class="button-22" role="button">Button 22</button> */
.formbutton {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: var(--text-secondary);
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-secondary);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    margin: 5px 2px;
}

.grayed {
    background-color: gray;
}

.formbutton:hover {
    background: #4ae093;
    box-shadow: 0 6px 20px rgba(41, 244, 88, 0.23);
}
.grayed:hover {
    background-color: rgb(85, 85, 85);
    color: gray;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.23);
}

/* The "responsive" class is added to  the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width:900px) {
    .topnav.responsive {
        position: sticky;
        max-height: 100000px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive div {
        display: block;
    }

    .topnavicon {
        visibility: hidden;
        width: 0 !important;
        height: 0px !important;
    }

    .formbutton {
        display: inline-block;
        padding: 0 20px;
        height: 45px;
        line-height: 45px;
        border-radius: 7px;
        font-size: 16px;
        margin: 5px 2px;
    }


}

/* end navigation bar stuff */

.container {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    /* border: 2px solid red; */
    position: static;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 90%;
    border-radius: 20px 20px;
    padding: 20px;
    /* margin-bottom: 3.5vh; */
    /* margin:  */
    z-index: 300;
}

.splode {
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, ),
        0 0 0px 0px rgb(21, 34, 51),
        0 0 0px 0px rgb(21, 34, 51),
        0 0 0px 0px rgb(21, 34, 51),
        0 0 0px 0px rgb(21, 34, 51),
        0 0 0px 0px rgb(21, 34, 51),
        0 0 0px 0px rgb(21, 34, 51);
    transition: 2s;
    transition-timing-function: ease-out;
    position: relative;
}

.splode:hover {
    /* border-radius: 8px; */
    box-shadow: 0 0 10px 10px rgb(44, 172, 106),
        0 0 30px 50px rgb(0, 151, 114),
        0 0 50px 100px rgb(0, 131, 118),
        0 0 70px 140px rgb(0, 110, 115),
        0 0 100px 200px rgb(0, 90, 107),
        0 0 150px 300px rgb(0, 70, 92),
        0 0 225px 450px rgb(15, 51, 73);
}

.splode:active {
    /* border-radius: 10%; */
    transition: 0.5s;

    box-shadow: 0 0 10px 10px rgb(44, 172, 106),
        0 0 35px 70px rgb(0, 151, 114),
        0 0 65px 130px rgb(0, 131, 118),
        0 0 110px 220px rgb(0, 110, 115),
        0 0 175px 350px rgb(0, 90, 107),
        0 0 250px 500px rgb(0, 70, 92),
        0 0 450px 700px rgb(15, 51, 73);
}

.splodebox {
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, ),
        0 0 5px 0px rgb(21, 34, 51),
        0 0 5px 0px rgb(21, 34, 51),
        0 0 5px 0px rgb(21, 34, 51),
        0 0 5px 0px rgb(21, 34, 51),
        0 0 5px 0px rgb(21, 34, 51),
        0 0 5px 0px rgb(21, 34, 51);
    transition: 1s;
    transition-timing-function: ease-out;
    position: relative;

    z-index: 2;
}

.splodebox:hover {
    box-shadow: 0 0 1px 1px rgb(44, 172, 106),
        0 0 calc(var(--splode-power) * 2px) calc(var(--splode-power) * 3px) rgb(0, 151, 114),
        0 0 calc(var(--splode-power) * 8px) calc(var(--splode-power) * 7px) rgb(0, 131, 118),
        0 0 calc(var(--splode-power) * 11px) calc(var(--splode-power) * 22px) rgb(0, 110, 115),
        0 0 calc(var(--splode-power) * 16px) calc(var(--splode-power) * 32px) rgb(0, 90, 107),
        0 0 calc(var(--splode-power) * 22px) calc(var(--splode-power) * 44px) rgb(0, 70, 92),
        0 0 calc(var(--splode-power) * 40px) calc(var(--splode-power) * 60px) rgb(15, 51, 73);

    z-index: 0 !important;
}

/* .splodebox:active {
    transition: 0.5s;

    box-shadow: 0 0 10px 10px rgb(44, 172, 106),
        0 0 calc(var(--splode-power) * 10px) calc(var(--splode-power) * 14px) rgb(0, 151, 114),
        0 0 calc(var(--splode-power) * 18px) calc(var(--splode-power) * 26px) rgb(0, 131, 118),
        0 0 calc(var(--splode-power) * 25px) calc(var(--splode-power) * 44px) rgb(0, 110, 115),
        0 0 calc(var(--splode-power) * 30px) calc(var(--splode-power) * 70px) rgb(0, 90, 107),
        0 0 calc(var(--splode-power) * 60px) calc(var(--splode-power) * 100px) rgb(0, 70, 92),
        0 0 calc(var(--splode-power) * 200px) calc(var(--splode-power) * 140px) rgb(15, 51, 73);
} */

.sploder {
    box-shadow: 0 0 5px 5px rgb(44, 172, 106),
        0 0 calc(var(--super-splode-power) * 4px) calc(var(--super-splode-power) * 6px) rgb(0, 151, 114),
        0 0 calc(var(--super-splode-power) * 8px) calc(var(--super-splode-power) * 7px) rgb(0, 131, 118),
        0 0 calc(var(--super-splode-power) * 11px) calc(var(--super-splode-power) * 22px) rgb(0, 110, 115),
        0 0 calc(var(--super-splode-power) * 16px) calc(var(--super-splode-power) * 32px) rgb(0, 90, 107),
        0 0 calc(var(--super-splode-power) * 22px) calc(var(--super-splode-power) * 44px) rgb(0, 70, 92),
        0 0 calc(var(--super-splode-power) * 40px) calc(var(--super-splode-power) * 60px) rgb(15, 51, 73);
    transition: 2s;
    transition-timing-function: ease-out;
    position: relative;

    z-index: 0 !important;
}

.leader {
    line-height: 8vh;
}

@keyframes example {
    0% {
        height: 0%;
        width: 0%;
    }

    100% {
        height: 100%;
        width: 100%;
    }
}

.example {
    animation-name: example;
    animation-duration: 2s;
    background-image: -moz-radial-gradient(center, ellipse cover, rgba(228, 245, 252, 0) 0%, rgba(191, 232, 249, 0.45) 30%, #72cbf3 66%, rgba(112, 202, 243, 0) 67%, rgba(42, 176, 237, 0) 100%);
    background-image: -webkit-radial-gradient(center, ellipse cover, rgba(228, 245, 252, 0) 0%, rgba(191, 232, 249, 0.45) 30%, #72cbf3 66%, rgba(112, 202, 243, 0) 67%, rgba(42, 176, 237, 0) 100%);
    background-image: radial-gradient(ellipse cover at center, rgba(228, 245, 252, 0) 0%, rgba(191, 232, 249, 0.45) 30%, #72cbf3 66%, rgba(112, 202, 243, 0) 67%, rgba(42, 176, 237, 0) 100%);
}

#ping {
    display: none;
    /* background size does the ping */
    background-size: 00%;
    position: absolute;
}

body {
    min-height: 100vh;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    width: 100%;
    height: 68vh;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.item {
    position: absolute;
    width: 600px;
    border-style: solid;
    height: 60vh;
    text-align: center;
    background-color: var(--bg-primary);
    border-color: var(--text-secondary);
    border-radius: 10px;
    border-width: 3px;
    padding: 30px;
    transition: 0.5s, opacity 0.2s ease;
    left: calc(50% - 335px);
    top: 0;
    font-family: var(--font-secondary);
}

.item h1 {
    color: var(--text-secondary);
    font-family: var(--font-secondary);
    font-size: 32pt;
    margin: 0 0 0 0;
}

.item p {
    max-width: 560px;
}

.item img {
    max-width: 600px;
    max-height: 40vh;
}

#next, #prev {
    position: absolute;
    top: 40%;
    color: var(--text-secondary);
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 2vw;
}

#next {
    left: unset;
    right: 2vw;
}

@media (max-width: 900px) {
    .slider {
        width: 87vw;
        height: 50vh;
    }

    .item {
        width: 65vw;
        height: 50vh;
        left: calc(50% - 37.5vw);
    }

    .item h1 {
        font-size: 25pt;
    } 

    .item p {
        max-width: 63vw;
        font-size: 16px;
    }

    .item img {
        max-width: 63vw;
        max-height: 35vh;
    }

    #next, #prev {
        background-color: var(--text-thirdendary);
        border-radius: 4px;
    }
}
